<h1>Jorge Pino - Comisión 47340</h1>
<p>Actualmente está bastante roto todo el proyecto dado a que estoy realizando todo lo que es el frontend y a su vez el
    backend nuevamente. Por lo cual no funciona nada lo del carrito ni agregar nuevos productos.
    Error que me da actualmente:
    Cannot read properties of undefined (reading 'status')
    <br>
    Estoy intentando poder ponerme al día con las clases dado a que donde estoy (brasil de vacaciones), no tengo un
    internet que me deje ver las clases en el momento y el único momento en el que tengo tiempo para realizar practicas
    es por las noches. <br>
    Quedó realizado todo lo que es la reestructuración de DAOs y Controllers, además de el .env oculto.
    <br>
    Me gustaría saber qué me falta aún en este proyecto. Muchas gracias!
</p>